.button {
  display: block;
  max-width: 300px;
  color: #09d3ac;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid #09d3ac;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  transition: .2s;

  @media(min-width: 1025px) {
    font-size: 1.2rem;
    letter-spacing: 1px;

    &:hover {
      background-color: #09d3ac;
      color: #282c34;
    }
  }
}